h1.title, .author, .abstract-title {
	text-align: center;
}

.emphasis {
	font-weight: bold;
}
.guilabel {
	font-weight: bold;
}
.guibutton {
	font-weight: bold;
}
.guimenu {
	font-weight: bold;
}
.guimenuitem {
	font-weight: bold;
}
.abstract {
   border: solid blue;
   padding: 5px;
   width: 600px;
   margin: 10px auto;
}
.abstract p {
   font-style: italic;
}
.abstract p.title {
   font-style: bold;
}